<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница контрагентов</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <header th:replace="~{page-templates :: header}"></header>
        <main class="main">
            <h1 class="main__title">Контрагенты</h1>
            <div class="user-interface">
                <div class="user-interface__top">
                    <button type="submit" class="add-client-button">Создать контрагента</button>
                </div>
                <div class="user-interface__add-field hidden">
                    <form action="#" method="post" class="add-form"></form>
                </div>
            </div>
            <div class="content">
                <table class="clients-table">
                    <tr class="clients-table__row" th:id="${client.id}" th:each="client: ${clients}">
                        <td class="clients-id" th:id="${client.id}" th:text="${client.id}">1</td>
                        <td class="clients-type" th:id="${client.type}" th:text="${client.type}">ie</td>
                        <td class="clients-name" th:id="${client.name}" th:text="${client.name}">Рога и копыта</td>
                        <td class="clients-address" th:id="${client.address}" th:text="${client.address}">ул.Сельская, амбар №5</td>
                        <td class="clients-email" th:id="${client.email}" th:text="${client.email}">horns_and_hooves@mail.ru</td>
                        <td class="clients-phone" th:id="${client.phone}" th:text="${client.phone}">+79535462678</td>
                        <td class="clients-itn" th:id="${client.itn}" th:text="${client.itn}">250123456789</td>
                        <td class="clients-cor" th:id="${client.cor}" th:text="${client.cor}">null</td>
                        <td class="clients-delete">
                            <button class="del-button">x</button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        <footer class="footer"></footer>
    </div>

    <script type="text/javascript" th:src="@{/js/functions.js}" src="../static/js/functions.js"></script>
    <script type="text/javascript" th:src="@{/js/models.js}" src="../static/js/models.js"></script>
    <script type="text/javascript" th:src="@{/js/clients.js}" src="../static/js/clients.js"></script>
</body>

</html>