<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Tutorial</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="header" th:fragment="header">
    <nav class="header__nav">
        <div class="index__box">
            <a th:href="@{/}" href="index.html" class="catalog__link">Главная</a>
        </div>
        <div class="catalog__box">
            <a th:href="@{/catalog}" href="catalog.html" class="catalog__link">Каталог</a>
        </div>
        <div class="clients__box">
            <a th:href="@{/clients}" href="clients.html" class="clients__link">Контрагенты</a>
        </div>
        <div class="storage__box">
            <a th:href="@{/storage}" href="storage.html" class="storage__link">Склады</a>
        </div>
    </nav>
</header>
</body>
</html>